body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 700;
}
#middle {
    background-color: aliceblue;
    
}
.fa-solid{
    color: goldenrod;
}
.fa-regular{
    color: gold;
}